
Services/Management.Services.Student/.vs/Management.Services.Student/DesignTimeBuild/.dtbcache.v2
Services/Management.Services.Student/.vs/Management.Services.Student/FileContentIndex/0a1d1928-a980-4512-97b7-6fbcea011751.vsidx
Services/Management.Services.Student/.vs/Management.Services.Student/FileContentIndex/a32bba2e-cf89-4fe7-aa17-c7d0b9a962b0.vsidx
Services/Management.Services.Student/.vs/Management.Services.Student/FileContentIndex/e1bbe684-2bca-4c34-8c51-5e4a2d1d82cc.vsidx
Services/Management.Services.Student/.vs/Management.Services.Student/FileContentIndex/f46123d2-5c8f-457a-a8c1-eb1769f0e439.vsidx
Services/Management.Services.Student/.vs/Management.Services.Student/FileContentIndex/read.lock
Services/Management.Services.Student/.vs/Management.Services.Student/v17/.futdcache.v2
Services/Management.Services.Student/.vs/Management.Services.Student/v17/.suo
Services/Management.Services.Student/.vs/ProjectEvaluation/management.services.student.metadata.v6.1
Services/Management.Services.Student/.vs/ProjectEvaluation/management.services.student.projects.v6.1
Services/Management.Services.Student/API/Management.Services.Student.API/Management.Services.Student.API.csproj.user
